.container{
  width: 100vw;
  height: 90vh;
  color:whitesmoke;
  border:1px solid white;
}
.imgLogo{
  display:flex;
  justify-content: center;
  align-items: center;
}
.nikeLogo{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-20%,-50%);
  width:600px;
  filter:opacity(.4) blur(4px);
  z-index: 2;
}

.mainContent{
  padding:0 50px 0 50px;
  display:flex;
  justify-content: space-between;
  align-items: center;
  position:relative;
  z-index: 10;
}
.mainContent h1{
  font-size: 4rem;
}
.crShoes{
  width:800px;
}
