.container{
  width: 100vw;
  height: 75vh;
  color:whitesmoke;
}
.imgLogo{
  display:flex;
  justify-content: center;
  align-items: center;
}
.nikeLogo{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  width:600px;
  filter:opacity(.4) blur(4px);
  z-index: 2;
}
.nikeLogo::selection{
  background:transparent;
}

.mainContent{
  height:100%;
  padding:0 50px 0 50px;
  display:flex;
  justify-content: space-between;
  align-items: center;
  position:relative;
  z-index: 10;
  overflow: hidden;
}
.title h1{
  font-size: 4rem;
}
.crShoes{
  /* width:750px; */
  transform:rotate(350deg);
}
.crShoes::selection {
  background: transparent;
}

@media screen and (min-width:1025px){
  .crShoes{
    width:600px;
    border:1px solid white;
  }
}
@media screen and (max-width:1024px){
  .title h1{
    font-size: 2.5rem;
  }
  .crShoes{
    width:500px;
    border:1px solid white;
  }
}