.footerContainer{
  width:100vw;
  border:1px solid white;
}
.footer{
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding:0 50px 0 50px;
}
.copy{
}
.copy p{
  font-size: 10px;
  opacity:.6;
  font-weight: 300;
}
.logoContainer{
  display:flex;
  justify-content: space-between;
  border:1px solid white;
  width:200px;
}
.logoContainer a{
  text-decoration:none;
  color:whitesmoke;
}
/* .icon{
  width:200px;
} */