.footerContainer{
  width:100vw;
}
.footer{
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding:0 50px 0 50px;
}
.copy p{
  font-size: 10px;
  opacity:.6;
}
.logoContainer{
  display:flex;
  justify-content: space-between;
  width:180px;
}
.logoContainer a{
  text-decoration:none;
  color:whitesmoke;
}