.navbar{
 width:100vw;
 font-size: 14px;
 overflow-x:hidden;
 border: 1px solid white;
}
.nav{
  padding:0 50px 0 50px;
  height:100px;
  display:flex;
  justify-content:space-between;
  align-items: center;
  position: relative;
}
.logo{
  position: relative;
}
.logo::before{
  content:" ";
  height:100px;
  width:180px;
  background-color:whitesmoke;
  position:absolute;
  top:-23px;
  left:-50px;
  z-index: 2;
}
.logoImg{
  width:60px;
  position:relative;
  z-index: 10;
}
.navMenu{
  width:300px;
  display: flex;
  justify-content: space-between;
}
.navItem{
  list-style: none;
}
.navItem a{
  text-decoration: none;
  color:whitesmoke;
}

@media screen and (max-width:768px){
  .navMenu{
    display: none;
  }
  .logoImg{
  width:40px;
  position:relative;
  z-index: 10;
}
}